* {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cabecalho {
    height: 90vh;
}
.cabecalho-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    height: 7.5%;
}
.cabecalho-link {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    padding: 1rem;
}
.cabecalho-icone {
    padding: 1rem;
}
.cabecalho-carrosel {
    background-image: url('Apple.jpg');
    background-size: cover;
    background-position: center;
    height: 92.5%;
}